.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}
.img-adaptive {
	max-width: 100%;
}
.btn, .close{
	outline: none !important;
}
/* -------------------------------------------------------------------------REGLAS */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */





.topLOGO {
	padding: 15px 0px;
	background: #FFC56E;
}

.topLOGO img{
	max-width: 150px;
}

.mismoALTOTOP {
	height: 43.7px;
}

.font-NEGUITA {
	font-weight: 700 !important;
}


.btn-NARANJA {
	color: #FFFFFF !important;
    background-image: -webkit-linear-gradient(top,#ff8400  0,#d87800  100%) !important;
    background-image: -o-linear-gradient(top,#ff8400  0,#d87800  100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ff8400 ),to(#d87800 )) !important;
    background-image: linear-gradient(to bottom,#ff8400  0,#d87800  100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8400  ', endColorstr='#d87800  ', GradientType=0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    background-repeat: repeat-x !important;
    border: 0px  !important;
}

.btn-ROJO {
	color: #FFFFFF !important;
    background-image: -webkit-linear-gradient(top,#ff0000  0,#d80000  100%) !important;
    background-image: -o-linear-gradient(top,#ff0000  0,#d80000  100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ff0000 ),to(#d80000 )) !important;
    background-image: linear-gradient(to bottom,#ff0000  0,#d80000  100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000  ', endColorstr='#d80000  ', GradientType=0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    background-repeat: repeat-x !important;
    border: 0px  !important;
}

.btn-VERDE {
	color: #000000 !important;
    background-image: -webkit-linear-gradient(top,#13ef12  0,#04c525  100%) !important;
    background-image: -o-linear-gradient(top,#13ef12  0,#04c525  100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#13ef12 ),to(#04c525 )) !important;
    background-image: linear-gradient(to bottom,#13ef12  0,#04c525  100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13ef12  ', endColorstr='#04c525  ', GradientType=0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    background-repeat: repeat-x !important;
    border: 0px  !important;
}


.btn-AMARILLO {
	color: #000000 !important;
    background-image: -webkit-linear-gradient(top,#fff900  0,#ecdb09  100%) !important;
    background-image: -o-linear-gradient(top,#fff900  0,#ecdb09  100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff900 ),to(#ecdb09 )) !important;
    background-image: linear-gradient(to bottom,#fff900  0,#ecdb09  100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff900  ', endColorstr='#ecdb09  ', GradientType=0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    background-repeat: repeat-x !important;
    border: 0px  !important;
}



.btn-NADA {
    color: #000000 !important;
    background: none !important;
    border: 0px  !important;
    cursor: unset !important; 
}
.btn-NADA:focus {
    box-shadow: none !important;
}

.fontPRIMERA {
    font-family: 'Vibur', cursive !important;
    font-size: 20px !important;
}











